@import "normalize.css";

:root {
  --green: rgb(52, 91, 52);
}

* {
  font-family: Roboto, Arial, Helvetica, sans-serif, system-ui;
}

em {
  font-family: "Georgia";
}

:html {
  display: flex;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
}

.fancy-side {
  background-image: url("halie-west_background-picture.avif");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 40vw;
  align-self: stretch;
}

.logo-container {
  margin-top: 40vw;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 4rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo-title {
  font-family: Norse, serif, "Times New Roman", serif;
}

.odin-logo {
  align-self: center;
  width: 10vw;
}

.photo-credit {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  color: rgb(256, 256, 256, 0.5);
  font-size: 0.8rem;
}

.form-side {
  flex: 2 1 60vw;
  padding: 2rem;
}

.inspiring-text {
  font-size: 1.3rem;
}

.form-container {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 4px 4px 4px rgb(106, 106, 106);
  border-radius: 6px;
  background-color: white;
  gap: 2rem;
}

.form-container div {
  flex: 0 0 50px;
}

label {
  font-size: 0.8rem;
  color: rgb(159, 159, 159);
  font-variant: caps;
}

button {
  background-color: var(--green);
  color: whitesmoke;
  border-radius: 12px;
  padding: 0.5rem;
  border: none;
  box-shadow: 2px 2px 2px darkslategray;
}

form button {
  margin: 1rem;
}

.exclamation {
  font-size: 1.5rem;
  margin: 2rem 0;
}

div:has(input) {
  display: flex;
  flex-direction: column;
}

a {
  color: var(--green);
}

.fancy-side a {
  color: inherit;
}
