@import "normalize.css";

* {
  font-family: Roboto, Arial, Helvetica, sans-serif, system-ui;
}

em {
  font-family: "Georgia";
}

:html {
  display: flex;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
}

.fancy-side {
  background-image: url("halie-west_background-picture.avif");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 40vw;
  align-self: stretch;
}

.logo-container {
  margin-top: 40vw;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 4rem;
  font-family: "Times New Roman";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.odin-logo {
  align-self: center;
  width: 10vw;
}

.photo-credit {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  color: white;
}

.form-container {
  flex: 2 1 60vw;
  padding: 2rem;
}

.inspiring-text {
  font-size: 1.3rem;
}

form {
  margin: 3rem 0rem;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 4px 4px 4px rgb(106, 106, 106);
  border-radius: 6px;
  background-color: white;
}

form > * {
  margin: 1rem;
}
